.button-LogIn {
    float: right;
    color: #ec9404;
}

/* li selected*/
span.selected {
    color: #ec9404;
}

.s_share_facebook,
.s_share_twitter,
.s_share_linkedin,
.s_share_google,
.s_share_email {
    width: 20%;
    margin: 2px;
}